if DEEPCOMPUTING
	config VENDOR_NAME
		string
		default "deepcomputing"

	config BOARD_NAME
		string
		default "roma" if ROMA

	config ARCH
		string
		default "riscv" if ROMA

	config TARGET_ARCH
		string
		default "riscv64" if ROMA

	config CONFIG_FILE
		string "config file name for target board"
		default "roma" if ROMA

endif
